---
---

// variables

$primary-font: 'Lato', sans-serif;
$header-font: 'Montserrat';
$sans: 'Open Sans', sans-serif;
$serif: 'Merriweather', serif;
$primary: #eee;
$contrast:#666;
$font-weight:100;

$red: #b70707;
$blue: #0275d8;
$green: #257059;
$purple: #2a2235;

body {
    font-family: $primary-font;
    color: $contrast;
    background-color:#fff;
    font-weight:$font-weight;
}

.container {
  max-width:1400px;
  margin-left:auto;
  margin-right:auto;
}

.bg-red {background-color: $red;}
.bg-blue {background-color: $blue;}
.bg-green {background-color: $green;}

// typography

   h1,h2 {
     margin:1.5em 0;
     font-family:$primary-font;
     font-weight:$font-weight;
   }

   h3,h4,h5,h6 {
     margin:1em 0;
     font-family:$primary-font;
     font-weight:$font-weight;
   }

   h1 {font-size:2.5rem;}
   h2 {font-size:2.25rem;}
   h3 {font-size:1.75rem;}
   h4 {font-size:1.25rem;}
   h5 {font-size:1rem;}
   h6 {font-size:0.75rem;}

   p,li,label,input,select,span,button {
     color:$contrast;
     font-family: $primary-font;
     font-weight:$font-weight;
     line-height:1.5;
   }

// header

.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow:hidden;
}

header {
  height: 750px;
  width:100%;
  font-family: $header-font;

  .logo {
    text-decoration: none;
    color:#fff;
  }

  .header {
    background-color:$green;
    .nav-button {
      cursor:pointer;
      img {
        width:36px;
        height:36px;
      }
    }
  }

  nav.main-nav {
    a {
      text-decoration: none;
      color:#eee;
      font-size:16px;
      text-transform: uppercase;
      font-weight:bold;
    }
    a:hover {text-decoration:underline;}
  }

  nav.mobile-nav {
    top:75px;
    z-index: 1;
    background-color:$contrast;
    a {
      color:#777;
      font-size:14px;
      text-decoration: none;
      margin:0px auto;
      text-transform: uppercase;
      border-bottom:solid #333 1px;
    }
    a:hover {text-decoration:underline;}
  }

  .hero {
    h1 {color:$green;text-shadow: 2px 2px #333;font-size:4em;}
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      );
  }


} // end header

// main body

main {
  font-size:18px;

  h1,h2,h3 {
    color:#333;
  }

  hr {
    color:$green;
    border:solid $green 2px;
  }

} // end main

footer {

  .social {
    a {text-decoration: none;}
    img {
      width:32px;
      height:32px;
    }
  }

  .contact {
    a {text-decoration: none;}
    img {
      width:32px;
      height:32px;
      top:8px;
    }
    span {
      font-size:24px;
    }
  }

}
